.group_wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;

  .sidebar {
  }

  .wrapper {
  }
}
