@import "./constants.scss";

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;

  background-color: $BodyBackgroudColor;

  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;

  margin: 0;
  padding: 1% 10% 0 10%;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin-bottom: 5px;
}

.row:last-child {
  margin-bottom: 0;
}

.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  margin-right: 5px;
}

.col:last-child {
  margin-right: 0;
}

.form {
  height: auto;

  margin: 0;
  border: 0;
  padding: 0 30%;
}

.label {
  color: $PrimaryFontColor;

  margin: 0 0 5px 0;
  padding: 0;
}

.input-text {
  height: 100%;

  color: $PrimaryFontColor;

  outline: none;

  margin: 0;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.25rem;
  padding: 5px;
}

.input-date {
  height: 100%;

  color: $PrimaryFontColor;

  outline: none;

  margin: 0;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.25rem;
  padding: 5px;
}

.input-select {
  height: 100%;

  color: $PrimaryFontColor;

  outline: none;

  margin: 0;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.25rem;
  padding: 5px;
}

.input-textarea {
  width: auto;

  color: $PrimaryFontColor;
  resize: none;

  outline: none;

  margin: 0;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.25rem;
  padding: 5px;
}

.input-button {
  width: fit-content;

  background-color: $PrimaryColor;
  color: $PrimaryFontColor;

  outline: none;

  margin: 0;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 0.25rem;
  padding: 5px 10px;
}

.input-button:hover {
  background-color: #535353;
}

.input-button:active {
  background-color: #197e00;
}

.w-100 {
  width: 100%;
}

.w-95 {
  width: 95%;
}

.w-90 {
  width: 90%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-75 {
  width: 75%;
}

.w-70 {
  width: 70%;
}

.w-65 {
  width: 65%;
}

.w-60 {
  width: 60%;
}

.w-55 {
  width: 55%;
}

.w-50 {
  width: 50%;
}

.w-45 {
  width: 45%;
}

.w-40 {
  width: 40%;
}

.w-35 {
  width: 35%;
}

.w-30 {
  width: 30%;
}

.w-25 {
  width: 25%;
}

.w-20 {
  width: 20%;
}

.w-15 {
  width: 15%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}