@import "./constants.scss";

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;

  background-color: $PrimaryColor;
  box-sizing: border-box;

  margin: 0;
  border: 0;
  padding: 10px;

  .list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;

    margin: 0;
    padding: 0;

    .item {
      list-style-type: none;

      margin: 0 10px 0 0;
      padding: 0;

      .link {
        color: $PrimaryFontColor;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;

        margin: 0;
        padding: 0;
      }

      .link:hover {
        color: $SecondaryColor;

        margin: 0;
        padding: 0;
      }
    }

    .item:last-child {
      margin: 0;
    }
  }
}
