.notification-container {
    position: absolute;
    bottom: 25px;
    right: 25px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
}

.notification {
    width: 200px;

    background-color: #ffffff;

    margin: 0 0 10px 0;
    border: 1px solid black;
    border-radius: .4rem;
    padding: 10px;
}

.notification:first-child {
    margin: 0;
}

.notification > .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.notification > .title > span {
    margin: 0;
    border: 0;
    padding: 0;
}

.notification > .title > input[type="button"] {   
    background: none;

    margin: 0;
    border: 0;
    padding: 0;
}

.notification > .description {  
    width: 100%;

    margin: 0;
    border: 0;
    padding: 0;
}

.notification > .description > span {  
    margin: 0;
    border: 0;
    padding: 0;
}

.notification > .timeline > span {  
    margin: 0;
    border: 0;
    padding: 0;
}

.notification > .timeline > progress {
    width: 100%;

    margin: 0;
    outline: none;
    padding: 0;
}
