@import "./constants.scss";

.todo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  
  .dates {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
