.group_wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 10px;

  .sidebar {
    
  }

  .wrapper {
    width: -webkit-fill-available;
  }
}
